.hero__wrapper {
    background-image: url('../img/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero {
    text-align: center;
    padding: 20rem 0;
    position: relative;
}
.hero .title {
    line-height: 1;
    margin-bottom: 2rem;
    position: relative;
}
.hero .text {
    margin: 0 auto 3rem;
    max-width: 35rem;
}
.hero__block {
    position: relative;
    width: fit-content;
    padding: 5rem 2rem;
}
.hero__block::before {
    background-color: var(--fourth-brand-color);
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
}
.hero__block--inner {
    position: relative;
}






.contacts {
    padding: 15rem 0;
    text-align: center;
}
.contacts .sub-title {
    margin-bottom: 3rem;
}
.contacts__item:not(:last-child) {
    margin-bottom: 2rem;
}
.contacts .text--mb  {
    max-width: 40rem;
    margin: 0 auto 3rem;
}
.contacts__item-link .text {
    transition: .3s ease-in-out;
}
.contacts__box {
    margin-bottom: 5rem;
}
.contacts__list {
    margin-bottom: 3rem;
}




.policy__wrapper {
    background-color: var(--main-bg-color);
    position: relative;
}
.policy {
    padding: 15rem 0;
    text-align: center;
    position: relative;
}
.policy .sub-title {
    margin-bottom: 8rem;
}
.policy__sub-title {
    font-family: var(--title-font);
    color: var(--sub-text-color);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.policy__block {
    max-width: 70rem;
    margin: 0 auto;
    background-color: var(--second-brand-color);
    padding: 5rem;
}
.policy__block--top {
    margin-bottom: 3rem;
}
.policy .text {
    margin-bottom: 3rem;
    color: var(--sub-text-color);
}
.policy .btn {
    background-color: var(--sub-text-color);
    border-color: var(--sub-text-color);
    color: var(--second-brand-color);
}




.question__wrapper {
    position: relative;
}
.question__wrapper--svg {
    fill: var(--second-brand-color);
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
}
.question {
    padding: 12rem 0;
    text-align: center;
    position: relative;
}
.question .sub-title {
    margin-bottom: 6rem;
}
.question__sub-title {
    font-family: var(--title-font);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.question__item:not(:last-child) {
    margin-bottom: 1rem;
    position: relative;
}
.question__list {
    max-width: 50rem;
    margin: 0 auto;
}
.question__item {
    background-color: var(--fourth-brand-color);
    padding: 5rem 3rem;
}



@media screen and (min-width: 1440px)  {
    .hero {
        text-align: left;
        padding: 25rem 0;
    }
    .hero .text,
    .hero .btn {
        margin-left: 0;
    }
    .hero__block {
        padding: 5rem;
    }



    .contacts__wrapper {
        position: relative;
    }
    .contacts__wrapper::before {
        display: block;
        content: '';
        position: absolute;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--third-brand-color);
    }
    .contacts__wrapper::after {
        display: block;
        content: '';
        position: absolute;
        width: 20rem;
        height: 80%;
        top: 50%;
        transform: translate(0, -50%);
        left: 65%;
        background-color: var(--second-brand-color);
    }
    .contacts {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15rem;
        position: relative;
    }
    .contacts__box {
        margin: 0;
    }
    .contacts .btn {
        margin-left: 0;
    }
    .contacts__item {
        position: relative;
    }
    .contacts__item::before {
        position: absolute;
        top: 50%;
        left: -1.5rem;
        width: .5rem;
        height: .5rem;
        background-color: var(--main-text-color);
        transform: translate(0, -50%);
        border-radius: 50%;
        display: block;
        content: '';
    }
  
    .contacts__item-link .text:hover {
        letter-spacing: .2rem;
    }
    .contacts .btn {
        background-color: transparent;
        color: var(--second-brand-color);
    }
    .contacts .btn:hover {
        background-color: var(--second-brand-color);
        color: var(--sub-text-color);
    } 
    
    .policy {
        padding: 15rem 15rem 10rem;
    }
    .policy .sub-title {
        text-align: right;
    }
    .policy__wrapper::before {
        position: absolute;
        display: block;
        content: '';
        width: 60rem;
        height: 100%;
        background-color: var(--third-brand-color);
        top: 0;
        right: 50%;
    }
    .policy__block {
        margin-right: 0;
        text-align: right;
    }
    .policy .btn {
        margin-right: 0;
    }
}

